<%- include("../../../partials/cabecalho"); %>

<section class="container">

<% if(success.length > 0){ %>
    <div id="mensagem-informacional" class="form-group d-flex flex-column">
        <span class="alert m-0 d-flex justify-content-between align-items-center alert-success">
            <p><%= success %></p>
            <button type="button" class="btn btn-light btn-close mx-1"></button>
        </span>
    </div>
<% }else if(error.length > 0){ %>
    <div id="mensagem-informacional" class="form-group d-flex flex-column">
        <span class="alert m-1 d-flex justify-content-between align-items-center alert-danger">
            <p><%= error %></p>
            <button type="button" class="btn btn-light btn-close mx-1"></button>
        </span>
    </div>
<% } %>

<h1 class="title mb-3"> <i class="bi bi-list-columns"></i> Lista de artigos </h1>
    <table id="articles-table" class="mt-2 table table-dark table-striped table-bordered">
        <thead>
            <tr class="text-center">
                <td>Id</td>
                <td>Nome</td>
                <td>E-email</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(({id, name, email}) => { %> 
                <tr>
                    <td class="text-center"><%= id %></td>
                    <td><%= name %></td>
                    <td><%= email %></td>
                    <td class="d-flex justify-content" class="text-center">
                        <a href="/admin/users/edit/<%= id %>" class="btn mx-1 btn-primary"> <i class="bi bi-pencil-square"></i> Editar</a>
                        <button onclick="setModalPropeties('/admin/users/delete','POST','id','<%= id %>')" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-de-delecao"><i class="bi bi-x-lg"></i></button>
                    </td>
                </tr>    
            <%})%>
        </tbody>
    </table>
</section>

<%- include("../../../partials/rodape"); %>
    